.navbar-nav .nav-item .active {
    font-weight: bold;
    color: white !important;
    border-bottom: 6px solid cadetblue;
 }

 .navbar-nav .nav-item :hover {
    color: white !important;
    border-bottom: 6px solid silver;
 }